.btn {
  display: block;
  padding: 10px 0;

  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .btn {
    padding: 15px 0;
  }
}
