.catalog {
  background-color: #ffffff;
}

.catalog__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.catalog__title {
  min-height: 105px;
  margin: 0;
  padding: 20px 0 0 20px;
  box-sizing: border-box;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  text-align: left;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;

  width: 280px;
  min-height: 208px;
  box-sizing: border-box;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.catalog__item-show {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  background-color: none;
}

@media (min-width: @tablet-width) {
  .catalog {
    margin-bottom: 15px;
  }

  .catalog__wrapper {
    width: 708px;
    padding: 0 30px;
  }

  .catalog__title {
    min-height: 65px;
    margin: 0;
    margin-bottom: 55px;
    padding-top: 0;

    font-size: 60px;
    line-height: 60px;
    font-weight: 400;

    border: none;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;

    width: 708px;
  }

  .catalog__item {
    position: relative;

    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    width: 324px;
    min-height: 434px;
    margin: 90px 60px 50px 0;
    padding-bottom: 17px;
    padding-top: 165px;
    box-sizing: border-box;

    border: none;

    background: linear-gradient(to bottom, #f2f2f2 434px, #f2f2f2 434px, #f2f2f2 434px, #f2f2f2 434px);
  }

  .catalog__item:nth-child(2n) {
    margin-right: 0;
  }

  .catalog__item-show {
    padding: 53px 19px 40px 19px;

    background: none;
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    width: 1220px;
    padding: 0 40px;
  }

  .catalog__list {
    width: 1220px;
  }

  .catalog__item {
    width: 245px;
    min-height: 434;
    margin-right: 80px;
  }

  .catalog__item:nth-child(2n) {
    margin-right: 80px;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }
}
