.catalog-page .contacts,
.form-page .contacts {
  background-color: #f2f2f2;
}

.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.contacts__container {
  width: 280px;
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
}

.contacts__collaboration {
  width: 140px;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  width: 140px;
  margin: 0;
  margin-left: auto;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.contacts__map {
  width: 100%;
  min-height: 365px;
  margin: 0 auto;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-size: 320px auto;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }
}

.contacts__picture {
  display: block;
  width: 100%;
  min-height: 365px;

  border: none;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    width: 708px;
    padding: 0 30px;
  }

  .contacts__container {
    justify-content: flex-start;

    width: 708px;
    padding-top: 63px;
    padding-bottom: 60px;
  }

  .contacts__collaboration {
    width: 170px;
    margin-left: 40px;
    margin-right: 287px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    width: 170px;
    margin-right: 41px;

    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__address span {
    display: block;
    margin-top: 19px;
  }

  .contacts__map {
    width: 100%;
    min-height: 395px;
    margin: 0 auto;

    background-image: url("../img/bg-map-tablet@1x.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  .contacts__picture {
    min-height: 395px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    background-color: #f2f2f2;
  }

  .contacts__wrapper {
    position: relative;

    width: 1220px;
    padding: 0 40px;
    background-color: blue;
  }

  .contacts__container {
    position: absolute;
    top: 91px;
    left: 40px;

    width: 570px;

    padding: 65px 75px;
    box-sizing: border-box;

    background-color: #ffffff;
  }

  .contacts__collaboration {

    margin: 0;
    margin-right: 80px;

    text-align: left;
  }

  .contacts__address {
    width: 170px;
    margin: 0;

    text-align: left;
  }

  .contacts__address span {
    display: block;
    margin-top: 20px;
  }

  .contacts__map {
    width: 100%;
    min-height: 400px;
    margin: 0 auto;

    background-image: url("../img/bg-map-desktop@1x.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }

  .contacts__picture {
    min-height: 400px;
  }
}
