.copyright__link {
  display: block;
  padding-top: 30px;
  padding-bottom: 33px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;

  &:active,
  &:focus {
    color: #c8c8c8;
  }
}

.copyright__link-logo {
  display: block;
}

.copyright__img {
  display: block;
  margin: 0;
  padding: 0;
  width: 28;
  height: 35;
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active,
  &:focus {
    fill: #c8e0ba;
  }
}

@media (min-width: @tablet-width) {
  .copyright__link {
    padding: 0;
  }

  .copyright__link-logo {
    padding: 0;
  }
}
