.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  display: block;
  padding-top: 34px;
  padding-bottom: 34px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #808080;
}

.copyright__link-logo {
  display: block;
}

.copyright__img {
  width: 29;
  height: 36;
  fill: #737373;
}

@media (min-width: @tablet-width) {
  .copyright__link {
    padding: 0;
  }

  .copyright__link-logo {
    padding: 0;
  }
}
