.features {
  margin-bottom: 40px;
}

.features__title {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 20px;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: #111111;
}

.features__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column-reverse;
  list-style: none;
}

.features__item {
  margin-bottom: 20px;
  padding-left: 80px;
}

.features__text {
  margin: 0;
  padding-top: 5px;
}

@media (min-width: @tablet-width) {
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__item {
    width: 350px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .features__item {
    width: 245px;

    flex-wrap: nowrap;
  }
}
