.intro {
  margin-bottom: 20px;
}

.intro__wrapper {
  padding: 25px 35px 165px 35px;
  color: #ffffff;

  background-color: #65a93c;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center;
  background-size: cover;
}

.intro__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.intro__slogan {
  margin: 0;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.intro__btn {
  width: 280px;
  background-color: #68b738;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }
}
