.main-nav {
  width: 280px;
  min-height: 200px;
  margin: 0 auto;

  border: 1px solid red;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 450px;
    margin: 0;
    min-height: 100px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 500px;
    min-height: 100px;
  }
}
