.more-product {
  position: relative;

  margin-bottom: 35px;
}

.more-product__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.more-product__title {
  position: relative;

  width: 230px;
  padding: 0;
  margin: 0;
  margin-bottom: 33px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
}

.more-product__title::after {
  content: " ";
  position: absolute;
  width: 54px;
  height: 3px;

  top: 12px;
  right: -70px;

  background-color: #68b738;
}

.more-product__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.more-product__item {
  width: 280px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.more-product__name {
  width: 100%;
  margin: 13px 0;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.more-product__count,
.more-product__price {
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.more-product__price {
  margin-left: auto;
}

.more-product__btn {
  width: 280px;
  margin: 15px 0 17px;
  padding: 10px 0 10px 0;

  font-size: 16px;
  line-height: 20px;

  background-color: #68b738;
}

.more-product__present {
  width: 280px;
  min-height: 290px;
  margin-top: 40px;
  padding-top: 65px;
  box-sizing: border-box;
  background-color: #68b738;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: 280px auto;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
    background-repeat: no-repeat;
  }
}

.more-product__text {
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  width: 170px;
  text-align: center;
}

.more-product__icon {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 63px;

  fill: #ffffff;
}

@media (min-width: @tablet-width) {
  .more-product {
    margin-bottom: 74px;
  }

  .more-product__wrapper {
    width: 708px;
    padding: 0 30px;
  }

  .more-product__title {
    position: relative;
    width: 340px;

    margin: 0;
    margin-bottom: 80px;
    padding: 0 35px;
    font-size: 36px;
    line-height: 36px;

    border-bottom: none;
  }

  .more-product__title::before {
    content: " ";
    position: absolute;
    width: 30px;
    top: 23px;
    left: -30px;

    height: 3px;
    background-color: #68b738;
  }

  .more-product__title::after {
    content: " ";
    position: absolute;
    width: 455px;
    top: 23px;
    right: -455px;
    height: 3px;
    background-color: #68b738;
  }

  .more-product__list {
    margin-bottom: 70px;
  }

  .more-product__item {
    justify-content: flex-start;
    align-items: baseline;

    width: 708px;
    padding: 0 36px;

    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .more-product__name {
    width: 170px;
    margin-top: 25px;
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }

  .more-product__count,
  .more-product__price {
    margin: 0;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .more-product__price {
    margin-left: 53px;
  }

  .more-product__count {
    margin-left: auto;
  }

  .more-product__btn {
    width: 634px;
    margin-top: 0;
    margin-bottom: 31px;

    font-size: 16px;
    line-height: 20px;

    padding: 10px 0;
  }

  .more-product__present {
    display: flex;
    justify-content: flex-start;
    width: 708px;
    min-height: 200px;
    padding: 70px 120px 65px 90px;

    background-color: #68b738;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: 708px auto;
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
      background-repeat: no-repeat;
    }
  }

  .more-product__icon {
    margin: 0;
    margin-top: -7px;
    margin-right: 275px;

    text-align: left;
  }

  .more-product__text {
    margin: 0;

    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .more-product {
    margin-bottom: 85px;
  }

  .more-product__wrapper {
    width: 1220px;
    padding: 0 40px;
  }

  .more-product__title {
    margin-bottom: 77px;
    padding: 0;
  }

  .more-product__title::before {
    content: " ";
    position: absolute;
    width: 70px;
    top: 24px;
    left: -110px;

    height: 3px;
    background-color: #68b738;
  }

  .more-product__title::after {
    content: " ";
    position: absolute;
    width: 960px;
    top: 24px;
    right: -1000px;
    height: 3px;
    background-color: #68b738;
  }

  .more-product__list {
    margin-bottom: 0;
  }

  .more-product__item {
    align-items: baseline;

    width: 895px;
    padding: 0;
    border-left: none;
    border-right: none;
  }

  .more-product__name {
    width: 247px;
    margin: 29px 80px 21px 0;
  }

  .more-product__count {
    text-align: left;
    width: 245px;
    margin-left: 0;
  }

  .more-product__price {
    width: 50px;
    margin-left: 0;

    text-align: left;
  }

  .more-product__btn {
    width: 245px;
    margin: 0 0 0 auto;
  }

  .more-product__present {
    display: block;
    width: 245px;
    min-height: 290px;
    margin-top: 8px;
    padding: 0;
    padding-top: 65px;
    box-sizing: border-box;
    background-color: #68b738;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: 245px;
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
      background-repeat: no-repeat;
    }
  }

  .more-product__text {
    margin: 0 auto;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .more-product__icon {
    margin: 0 auto;
    margin-bottom: 65px;
  }

  .more-product__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
