.page-footer {
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-footer__logo {
  width: 130px;
  height: 25px;
}

.page-footer__copyright {
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer__social {
  text-align: center;
}
