.page-footer {
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  display: block;
  padding-top: 36px;
  padding-bottom: 29px;
  box-sizing: border-box;
}

.page-footer__logo-image {
  display: block;
  width: 130px;
  height: 25px;
  margin: 0 auto;
}

.page-footer__social {
  padding: 24px 0 15px;

  border-top: 1px solid #e6e6e6;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #e6e6e6;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    width: 708px;
    padding: 0 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    padding: 0;
    border: none;
  }

  .page-footer__logo-image {
    width: 130px;
    height: 25px;
  }

  .page-footer__social {
    width: 130px;

    margin-left: 26px;
    border: none;
  }

  .page-footer__copyright {
    width: 164px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 1220px;
    padding: 0 40px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .page-footer__logo-image {
    padding-top: 36px;
    padding-bottom: 26px;
  }

  .page-footer__social {
    padding: 24px 0 15px;
  }

  .page-footer__copyright {
    padding-top: 8px;
  }
}
