.page-header {
  margin-bottom: 20px;
}

.page-header__wrapper {
  position: relative;
  z-index: 1;

  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.page-header__logo {
  display: block;
  width: 280px;
  min-height: 66px;
  padding-top: 10px;
}

.catalog-page .page-header {
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .page-header {
    margin-bottom: 0;
  }

  .page-header__wrapper {
    width: 708px;
    padding: 0 30px;
    margin-bottom: 50px;

    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo {
    width: 190px;
    height: 65px;
    padding-top: 25px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: relative;
    margin-bottom: 80px;
  }

  .page-header::after {
    content: "";
    position: absolute;
    width: 50%;
    min-height: 696px;
    top: 0;
    right: 0;
    left: inherit;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-color: #63a73a;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }

  .page-header__wrapper {
    width: 1220px;
    padding: 0 40px;
    margin-bottom: 90px;
  }

  .page-header__logo {
    width: 220px;
    height: 90px;
    padding-top: 40px;
  }

  .catalog-page .page-header::after,
  .form-page .page-header::after {
    display: none;
  }
}
