.page-footer {
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 30px 20px;
}

.page-footer__logo {
  width: 130px;
  height: 25px;
}

.page-footer__copyright {
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer__social {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    width: 708px;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 1220px;
    padding: 0 40px;
  }
}
