.product__title {
  width: 74px;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.product__category {
  display: block;
}

.product__image {
  display: block;
  width: 140px;
  height: 144px;
}

.product__info {
  padding: 20px 0;
}

.product__details {
  width: 140px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  border-collapse: collapse;
}

.product__details-name,
.product__details-description {
  margin: 0;
  padding: 0;
  vertical-align: center;
}

.product__details-name {
  width: 70px;
}

.product__details-description {
  width: 72px;
  text-align: right;
}

.product__btn {
  width: 280px;
  margin-bottom: 24px;
  padding: 10px 0 10px 0;

  font-size: 16px;
  line-height: 20px;

  background-color: #68b738;
}

.product__btn-show {
  display: block;
  width: 280px;
  margin-bottom: 24px;
  padding: 10px 0 10px 0;

  font-size: 16px;
  line-height: 20px;

  color: #444444;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active,
  &:active {
    color: #c6c6c6;
    background-color: #ebebeb;
  }
}

.product__show-all-icon {
  width: 30px;
  height: 30px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.product__amount {
  display: block;
  margin: 0;
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.product__taste {
  display: block;
  margin-bottom: 25px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .product__title {
    width: 130px;
    font-size: 20px;
    line-height: 20px;
    margin: 0 auto;
    margin-bottom: 18px;

    text-align: center;
  }

  .product__info {
    width: 249px;
    padding: 0;
    margin: 0 0 32px;
  }

  .product__image {
    position: absolute;
    bottom: 310px;
    left: 0;
    width: 324px;
    height: auto;
  }

  .product__details {
    width: 100%;

    font-size: 16px;
    line-height: 16px;
  }

  .product__details tr {
    border-bottom: 1px solid #cdcdcd;
  }

  .product__details td {
    padding: 7px 0 7px;
  }

  .product__details-name {
    width: 120px;
  }

  .product__details-description {
    width: 129px;
  }

  .product__details-first {
    border-bottom: none;
  }

  .product__btn {
    width: 250px;
    margin-bottom: 0;
    padding: 10px 0;

    font-size: 16px;
    line-height: 20px;
  }

  .product__show-all-icon {
    width: 60px;
    height: 60px;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .product__amount {
    width: 140px;
    margin-bottom: 26px;

    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .product__taste {
    display: block;
    width: 170px;
    margin: 0;
    margin-bottom: 85px;

    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: auto;
    text-align: center;
  }

  .product__btn-show {
    width: 250px;
    margin-bottom: 0;
    padding: 10px 0;

    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .product__image {
    width: 245px;
    height: auto;
  }

  .product__info {
    width: 175px;
    padding: 0;
    margin: 0 0 31px;
  }

  .product__details {
    width: 170px;
  }

  .product__details-first {
    width: 110px;
  }

  .product__btn {
    width: 170px;
  }

  .product__show-all-icon {
    margin-bottom: 47px;
  }

  .product__btn-show {
    width: 170px;
  }

  .product_button {
    color: #444444;
    background-color: #f2f2f2;

    &:hover,
    &:focus {
      color: #444444;
      background-color: #ebebeb;
    }
  }
}
