.product__title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.product__image {
  margin: 0;
}

.product__info {
  display: flex;
  justify-content: space-between;
}

.product__description {
  width: 140px;
}

.product__amount {
  margin: 0;
}

.product__details {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.product_btn {
  display: block;
  width: 280px;

  background-color: #68b738;
}

@media (min-width: @tablet-width) {
  .product__info {
    display: block;
  }

  .product_btn {
    width: 245px;
  }
}

@media (min-width: @desktop-width) {
  .product_button {
    color: #444444;
    background-color: #f2f2f2;

    &:hover,
    &:focus {
      color: #444444;
      background-color: #ebebeb;
    }
  }
}
