.program__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.program__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.program__item {
  position: relative;
  margin-bottom: 20px;
  box-sizing: border-box;

  background-color: #f2f2f2;
}

.program__item::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 22px;

  width: 50px;
  height: 50px;

  background-color: #68b738;
  border-radius: 50%;
}

.program__title {
  margin: 0;
  padding: 31px 0 30px 90px;

  font-size: 24px;
  font-weight: 400;
  line-height: 37.02px;
  color: #111111;
  text-transform: uppercase;
}

.program__title--slim::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 30px;

  width: 50px;
  height: 50px;
  background: url("../img/icon-cat-slim.svg") no-repeat;
}

.program__title--pro::before {
  content: "";
  position: absolute;
  top: 36px;
  left: 12px;

  width: 67px;
  height: 50px;
  background: url("../img/icon-cat-pro.svg") no-repeat;
}

.program__description {
  width: 240px;
  margin: 0;
  margin-left: 20px;
  padding-bottom: 22px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  border-bottom: 1px solid #e6e6e6;
}

.program__link {
  position: relative;

  display: block;
  padding: 19px 10px 20px 19px;

  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
}

.program__link::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 115px;

  width: 24px;
  height: 12px;
  background: url("../img/icon-right-arrow-long.svg") no-repeat;
}

@media (min-width: @tablet-width) {
  .program__wrapper {
    width: 708px;
    padding: 0 30px;
  }

  .program__item {
    position: relative;

    width: 708px;
    min-height: 374px;
    margin-bottom: 30px;
    padding: 75px 50px 62px 53px;
  }

  .program__item:last-child {
    margin-bottom: 43px;
  }

  .program__item::before {
    content: "";
    position: absolute;
    top: 91px;
    right: 61px;
    left: auto;

    width: 200px;
    height: 200px;
  }

  .program__title {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    font-size: 36px;
    font-weight: 400;
    line-height: 37.02px;
  }

  .program__title--slim::before {
    content: "";
    position: absolute;
    top: 80px;
    right: 31px;
    left: auto;

    width: 200px;
    height: 200px;

    background: url("../img/icon-cat-slim.svg") no-repeat;
    background-size: 140px 194px;
  }

  .program__title--pro::before {
    content: "";
    position: absolute;
    top: 136px;
    right: 27px;
    left: auto;

    width: 268px;
    height: 200px;

    background: url("../img/icon-cat-pro.svg") no-repeat;
    background-size: 268px 112px;
  }

  .program__description {
    width: 380px;
    margin: 0;
    margin-bottom: 33px;
    padding-left: 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    border: none;
  }

  .program__title--pro + .program__description {
    width: 344px;
  }

  .program__link {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    border: none;
  }

  .program__link::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 130px;

    width: 24px;
    height: 12px;
  }
}

@media (min-width: @desktop-width) {
  .program {
    margin-bottom: 70px;
  }

  .program__wrapper {
    width: 1220px;
    padding: 0 40px;
  }

  .program__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .program__item {
    width: 570px;
    min-height: 370px;
    margin: 0;
    margin-right: 80px;
    padding: 76px 50px 62px 51px;
    box-sizing: border-box;
  }

  .program__item:last-child {
    margin-bottom: 0;
  }

  .program__item:nth-child(2n) {
    margin-right: 0;
  }

  .program__item::before {
    content: "";
    position: absolute;
    top: 47px;
    left: 52px;

    width: 100px;
    height: 100px;
  }

  .program__title {
    margin-bottom: 74px;
    padding-left: 165px;
  }

  .program__title--slim::before {
    content: "";
    position: absolute;
    left: 66px;
    top: 40px;

    height: 97px;
    width: 70px;

    background: url("../img/icon-cat-slim.svg") no-repeat;
    background-size: 70px 97px;
  }


  .program__title--pro::before {
    content: "";
    position: absolute;
    top: 69px;
    left: 34px;

    width: 134px;
    height: 56px;

    background-size: 134px 56px;
  }


  .program__description {
    width: 472px;
    margin-bottom: 0;
    padding-bottom: 30px;
  }

  .program__title--pro + .program__description {
    width: 472px;
  }

  .program__link {
    padding: 0;
    padding-left: 2px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;

    border: none;
  }

  .program__link::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 133px;

    width: 24px;
    height: 12px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
  }

  .program__link--pro::after {
    left: 130px;
  }
}
