.site-list__link {
  color: #111111;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: #707070;
  }

  &:active {
    text-decoration: underline;
  }
}

.site-list__link--active {
  color: #b7b7b7;
}
