.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  min-height: 66px;
}


.site-list__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #111111;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;

  border-top: 1px solid #e6e6e6;

  &:hover,
  &:focus {
    color: #707070;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .site-list__item {
    border: none;
  }

  .site-list__item:last-child a {
    padding-right: 0;
  }

  .site-list__link {
    padding: 41px 0 10px 0; /*сравнить с десктопом*/

    font-size: 18px;
    line-height: 24.6px;
    font-weight: 400;

    border: none;

    &:hover,
    &:focus {
      color: #c1ddb1;
    }
  }

  .site-list__link--active {
    border-bottom: 2px solid #68b738;
  }
}

@media (min-width: @desktop-width) {
  .site-list__link {
    padding: 40px 0 11px 0;

    font-size: 20px;
    line-height: 24.6px;
    color: #ffffff;
  }

  .site-list__link--active {
    border-bottom: 2px solid #ffffff;
  }

  .catalog-page .site-list__link,
  .form-page .site-list__link {
    color: #111111;
  }

  .catalog-page .site-list__link--active,
  .form-page .site-list__link--active, {
    border-bottom: 2px solid #68b738;
  }
}
