.social__list {
  width: 130px;
  min-height: 64px;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__link {
  display: block;
  width: 25px;
  height: 25px;
  text-decoration: none;
  background-color: grey;
}

.social__link--vkontakte,
.social__link--instagram,
.social__link--facebook {
  position: relative;
}

.social__link--vkontakte::before {
  content: url(" ");
  position: absolute;
  top: 0;

  width: 25px;
  height: 25px;
}

.social__link--instagram::before {
  content: url(" ");
  position: absolute;
  top: 0;

  width: 25px;
  height: 25px;
}

.social__link--facebook::before {
  content: url(" ");
  position: absolute;
  top: 0;

  width: 25px;
  height: 25px;
}

@media (min-width: @tablet-width) {
  .social__link--vkontakte::before {
    position: absolute;
    top: 0;

    width: 25px;
    height: 25px;
  }

  .social__link--instagram::before {
    content: url(" ");
    position: absolute;
    top: 0;

    width: 25px;
    height: 25px;
  }

  .social__link--facebook::before {
    content: url(" ");
    position: absolute;
    top: 0;

    width: 25px;
    height: 25px;
  }
}
