.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 130px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}

.social__icon {
  fill: #737373;
}

@media (min-width: @tablet-width) {
  .social__list {
    margin-left: 30px;
  }

  .social__icon--vkontakte {
    width: 30px;
    height: 16px;
  }

  .social__icon--instagram {
    width: 23px;
    height: 23px;
  }

  .social__icon--facebook {
    width: 14px;
    height: 28px;
  }
}
